[Unit]
Description=Django DMS Gunicorn Service
After=network.target

[Service]
User=tadelek
Group=www-data
WorkingDirectory=/opt/dms
EnvironmentFile=-/opt/dms/.env
Environment="PATH=/opt/dms/venv/bin"
ExecStart=/opt/dms/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 dms.wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

